<script>

	function selectAge(){

		for(var x=0; x<100; x++){
			if(confirm("Are you " + x + " years old?")){
				document.getElementById("inputAge").value = x
				break;
			}

		}

		
	}

</script>

<div class="container">

	<div class="form-group row">

	<label for="inputAge" class="col-sm-2 col-form-label">Age</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputAge" placeholder="Please use the `Select age` ficzer" disabled="true">
		</div>

	</div>


	<div>
		<button type="button" onclick="selectAge()">Select age</button>
	</div>

</div>