<script>
    function calculateValue(input){
        var tmp = input.value.split("-")
        var a = tmp[0]
        var b = tmp[1].substring(1)

        document.getElementById("inputZipcode").value = a+b
    }
</script>

<div class="container">


<div class="form-check">
    <input class="form-check-input bit" type="checkbox" id="bit0" onclick="calculateValue(this)">
    <label class="form-check-label" for="bit0">
        0
    </label>

<div class="form-check">
</div>

    <input class="form-check-input bit" type="checkbox" id="bit1" onclick="calculateValue(this)">
    <label class="form-check-label" for="bit1">
        1
    </label>

<div class="form-check">
</div>

    <input class="form-check-input bit" type="checkbox" id="bit2" onclick="calculateValue(this)">
    <label class="form-check-label" for="bit2">
        2
    </label>

<div class="form-check">
</div>

    <input class="form-check-input bit" type="checkbox" id="bit3" onclick="calculateValue(this)">
    <label class="form-check-label" for="bit3">
        3
    </label>

<div class="form-check">
</div>

    <input class="form-check-input bit" type="checkbox" id="bit4" onclick="calculateValue(this)">
    <label class="form-check-label" for="bit4">
        4
    </label>

</div>


</div>
