<form>
<input type="input" style="background-color: white; color: black" id="color0" disabled="true" value="Red">
<input type="input" style="background-color: white; color: black" id="color1" disabled="true" value="Green">
<input type="input" style="background-color: white; color: black" id="color2" disabled="true" value="Blue">
<input type="input" style="background-color: white; color: black" id="color3" disabled="true" value="White">
<input type="input" style="background-color: white; color: black" id="color4" disabled="true" value="Orange">
<input type="input" style="background-color: white; color: black" id="color5" disabled="true" value="Black">
<input type="input" style="background-color: white; color: black" id="color6" disabled="true" value="Yellow">
<input type="input" style="background-color: white; color: black" id="color7" disabled="true" value="Blue">
<input type="input" style="background-color: white; color: black" id="color8" disabled="true" value="Magenta">
<input type="input" style="background-color: white; color: black" id="color9" disabled="true" value="Crimson">
<input type="input" style="background-color: white; color: black" id="color10" disabled="true" value="Cyan">
<input type="input" style="background-color: white; color: black" id="color11" disabled="true" value="Brown">
<br><br>
<button type="button" onclick="stopperFun()">Stop</button>
<button type="button" onclick="startFun()">Again</button>
</form>

<script type="text/javascript">
	

	var stopped = false;

	function stopperFun(){
		stopped = true;
	}
	function startFun(){
		stopped = false;
	}

	var lastChanged = 0;
	function disco(){

		if(!stopped){
			document.getElementById("color"+lastChanged).style.backgroundColor = "white";
			document.getElementById("color"+lastChanged).style.color = "black";
			lastChanged = Math.floor(Math.random() * 12);
			// document.getElementById("color"+lastChanged).style.backgroundColor = "#eb69f4";
			document.getElementById("color"+lastChanged).style.backgroundColor = document.getElementById("color"+lastChanged).value
			document.getElementById("color"+lastChanged).style.color = "white";
			setTimeout(disco, 50);
		}
		else setTimeout(disco, 50);
	}

	$( document ).ready(function() {
		disco()
	});
</script>